.logout {
  text-decoration: underline;
  font-weight: bolder;
  text-align: right;
  margin: 5px 5px 0 0;

  &:hover {
    cursor: pointer;
  }
}

.chat-form {
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 70%;

  input {
    border: 1px solid #000;
    padding: 10px;
    width: 75%;
    margin-right: 0.5%;
  }

  button {
    width: 50px;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
  }
}

#messages {
  list-style-type: none;
  margin-top: 20px;
  padding: 0;
  display: flex;
  flex-direction: column;
}
