.message-item {
  width: 100%;
  margin: 5px auto;
  display: flex;

  &.left {
    justify-content: flex-start;
  }

  &.right {
    justify-content: flex-end;

    .message-txt {
      background-color: #eee;
    }
  }

  .message-txt {
    width: 80%;
    min-width: 200px;
    padding: 10px;
    border: 1px solid blue;
  }
}
